<div class="col-md-6">

	<h2>Login to your account</h2>

	<div class="form-horizontal" (keypress)="onKey($event.keyCode)">

		<div class="form-group has-feedback" [class.has-warning]="tried && !isUsrOk()" [class.has-success]="tried && isUsrOk()">
			<label class="col-sm-2 control-label" for="txt_description">Username</label>
			<div class="col-sm-10">
				<input [(ngModel)]="usr.id" placeholder="Username" 
					type="text" class="form-control" id="txt_description">
				<span class="glyphicon form-control-feedback" 
					[class.glyphicon-warning-sign]="tried && !isUsrOk()" 
					[class.glyphicon-ok]="tried && isUsrOk()">
				</span>
			</div>
		</div>

		<div class="form-group has-feedback" [class.has-warning]="tried && !isPwdOk()" [class.has-success]="tried && isPwdOk()">
			<label class="col-sm-2 control-label" for="txt_description">Password</label>
			<div class="col-sm-10">
				<input [(ngModel)]="usr.pwd" placeholder="Password" 
					type="password" class="form-control" id="txt_description" placeholder="Password">
				<span class="glyphicon form-control-feedback" 
					[class.glyphicon-warning-sign]="tried && !isPwdOk()" 
					[class.glyphicon-ok]="tried && isPwdOk()">
				</span>
			</div>
		</div>

		<div class="form-group has-feedback">
			<label class="col-sm-2 control-label" for="txt_description"></label>
			<div class="col-sm-10">
				<button (click)="login()" class="btn btn-success form-group btn-block"
					[class.disabled]="processing">Login
				</button>
			</div>
		</div>

	</div>
</div>
