<link href="tp/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

<link href="css/shop-item.css" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="hidden navbar-brand" href="#">Easy Claim</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="#" id="cmd_logoff">Logout </a>
				</li>

			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

    <!-- Page Content -->
<div class="container"> 
	<div class="row"> 

		<div class="col-md-5">

			<ul class="nav nav-pills nav-stacked">
				<li id="tab_cmd_home" class="active"><a href="#" onclick="selTab(0); return false;">Home</a></li>
				<div class=""><li id="tab_cmd_call"><a href="#" onclick="selTab(1); return false;">Call</a></li></div>
				<li id="tab_cmd_apk_add"><a href="#" onclick="selTab(2); return false;">Add Apk</a></li>
				<li id="tab_cmd_apk_install"><a href="#" onclick="selTab(3); return false;">Install Apk</a></li>
				<li id="tab_cmd_apk_query"><a href="#" onclick="selTab(4); return false;">Query Info</a></li>
				<li id="tab_cmd_apk_rm"><a href="#" onclick="selTab(5); return false;">Uninstall Apk</a></li>
				<li id="tab_cmd_msg"><a href="#" onclick="selTab(6); return false;">Messages</a></li>
				<li id="tab_cmd_file"><a href="#" onclick="selTab(7); return false;">Files</a></li>
			</ul> 

			<p class="lead"> 
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dialog_add_customer">Add New <img src="img/addnew.png"></button>
				 <button type="button" class="btn btn-primary btn-lg" id="cmd_usr_refresh">Refresh Customer List</button>
			</p> 

			<!-- Modal -->
			<div class="modal fade" id="dialog_add_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel"><img src="img/userd.png">Add New Customer</h4>
						</div>
						<div class="modal-body">
							Customer Name <input id="txt_new_customer">	
						</div>
						<div class="modal-footer">
							<button id="cmd_add_customer" onclick="addNewCustomer()"
								type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Cansel</button>
						</div>
					</div>
				</div>
			</div>    

			<div id="lst_customer" class="list-group"> 
                </div>
	</div>

	<div id="tab_home">
	</div>

	<div id="tab_call">
		<%include sec/call.ejs %> 
	</div>

	<div id="tab_apk_add">
		<%include sec/apk_add.ejs %>
	</div>

	<div id="tab_apk_install">
		<%include sec/apk_install.ejs %>
	</div>

	<div id="tab_apk_query">
		<%include sec/apk_query.ejs %>
	</div>

	<div id="tab_apk_rm">
		<%include sec/apk_rm.ejs %>
	</div>

	<div id="tab_msg">
		<%include sec/msg.ejs %>
	</div> 

	<div id="tab_file">
		<%include sec/file.ejs %>
	</div>

</div>

</div>
<!-- /.container -->

<% include ../footer.ejs %>    

