<div class="pen-title">
	<!-- uncommend after add real logo for mdm img src="login/img/logo.png"/ --> 
</div>

<div class="module form-module">

	<div class="toggle">
		<i class="fa fa-times fa-pencil"></i>
		<div class="tooltip">Click Me</div>
	</div>

	<div class="form">

		<h2>Create an account</h2>

		<form> 
			<input id="txt_usr" type="text" value="dileepa" placeholder="Username"/>
			<input id="txt_pwd1" type="password" value="dileepa"  placeholder="Password"/>
			<input id="txt_pwd2" type="password" value="dileepa" placeholder="Re-Enter Password"/>
			<select id="sel_grp" class="form-control">
				<option value="pickme">PickMe</option>
				<option value="continental">Continental</option>
			</select><br/>
			<select id="sel_type" class="form-control">
				<option value="device">Device</option>		
				<option value="usr">User</option>		
				<option value="operator">Operator</option>		
				<option value="admin">Admin</option>		
				<option value="grp">Group</option>		
			</select><br/>
			<input id="txt_name" type="text" value="dileepaname" placeholder="Name"/> 
			<input id="txt_email" type="email" value="dileeparanjan@gmail.com" placeholder="Email Address"/>
			<input id="txt_tel" type="tel" value="0719140210" placeholder="Phone Number"/>
			<button ng-click="register()">Register</button>
		</form>
	</div>

</div>
   
