<div *ngIf="user">
	<h2>{{user.id}} details!</h2>
	<div>
		<label>Details for </label>{{user.id}}
	</div>
	<div>
		<label>id: </label>
		<label>{{user.id}}</label>
	</div>
	<button (click)="goBack()">Back</button>
</div>
