<div class="col-md-6">
	Apk <select id="sel_apk_id"></select>
	<button onclick="getLstApk()" type="button" class="btn btn-primary btn-lg" data-toggle="modal">Refresh</button><br/>
	User <input id="txt_apk_install_to" value="dileepamobile"/><br/>
	<button onclick="installApk()" type="button" class="btn btn-primary btn-lg" data-toggle="modal">Install Apk</button></br>
</div>
