<div class="col-md-6">
	User <input id="txt_apk_rm_to" value="dileepamobile"/></br>
	Package to be removed<input id="txt_apk_rm_pkg" value="evensel.apktotestintaller"/></br>
	<button onclick="apkRm()" type="button" class="btn btn-primary btn-lg" data-toggle="modal">ApkRm</button><br/>
</div>
