
<div class="col-md-6">
	<input id="txt_apk_query_to" value="dileepamobile"/>
	<button onclick="getLstInstalledApk()" type="button" class="btn btn-primary btn-lg" data-toggle="modal">
		GetLstInstalledApk
	</button><br/>
	<select id="tab_apk_query_sel_lst_apk" size="20">
	</select>
</div>
