
<div class="col-md-6">

	<div class='' class="thumbnail">
		
		<img id="img_def_vid" class="img-responsive" src="img/image.png" alt=""> 
		<div id="videos">
			<video width='300' id="remote_video" autoplay></video>
			<video id="local_video" width='100' autoplay muted></video> 
		</div>

		<div class="caption-full">

			<div class="pull-right" style="width:50%;" id="div_img_receive_progress"></div>

			<h4 class="pull-left">
				<div id="call_icons" class="">
					<button class=""><span><img src="img/call.png"></span></button>
					<button id="cmd_mute_audio"><span><img src="img/mute_audio.png"></span></button>
					<button id="cmd_mute_video"><span><img src="img/mute_video.png"></button>
					<button id="cmd_take_pic"><span><img src="img/snap.png"></span></button>
					<button id="cmd_record"><span><img id="img_cmd_record" src="img/record.png"></span></button>
					<button id="cmd_hangup"><span><img src="img/hang.png"></span></button>
				</div> 
			</h4> 
		</div> 
	</div>
</div>

<div class="col-md-6">

	<div class="thumbnail">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-md-6">Id</th>
					<th class="col-md-6">Latitude</th>
					<th class="col-md-6">Longitude</th>
				</tr>
			</thead>
			<tbody id="lst_gps_info"></tbody>
		</table>

		<button id="cmd_cls_gps_info">Clear</button>
	</div>
</div>

<%include call_ctrl_panel.ejs %> 
