
<div class="col-md-6">
	User <input type="text" id="txt_file_usr" value="dileepamobile" /><br/>
	File Path <input type="text" id="txt_file_path" value="/" />
	<button onclick="fileRefresh()">Refresh</button><br/>

	file <input type="file" id="file_upload"/> dest <input id="file_dest"/> <button onclick="fileAdd()">Add</button><br/>
	
	src <input id="txt_file_src" value="/sdcard/Rtd/tmp/test.txt"/> dest <input id="txt_file_dest" value="/sdcard/Rtd/tmp/test2.txt" /> <button onclick="fileMv()">Move</button> <br/>
	<div id="file_content" />

	Rm <input id="file_txt_rm" value="/sdcard/Rtd/tmp/test.txt" /> <button onclick="fileRm()" >Rm</button>
</div>
