<div class="pen-title">
	<!-- uncommend after add real logo for mdm img src="login/img/logo.png"/ --> 
</div>

<div class="module form-module">

	<div class="toggle">
		<i class="fa fa-times fa-pencil"></i>
		<div class="tooltip">Click Me</div>
	</div>

	<div class="form">

		<h2>Login to your account</h2>

		<form>
			<input value="dileepa" id = "txt_usr" type="text" value = "" placeholder="Username"/>
			<input value="dileepa" id = "txt_pwd" type="password" value = "" placeholder="Password"/>
			<button ng-click="login()">Login</button>
		</form> 

		<div id="div_login_info"/>

	</div>

	<div class="cta"><a href="register">Create a new account</a></div>
	<div class="cta"><a href="">Forgot your password?</a></div>

</div>
   
