<div class="pen-title">
	<!-- uncommend after add real logo for mdm img src="login/img/logo.png"/ --> 
</div>

<div class="module form-module">

	<div class="toggle">
		<i class="fa fa-times fa-pencil"></i>
		<div class="tooltip">Click Me</div>
	</div>

	<div class="form">

		<h2>Create an account</h2>

		<form> 
			<input id="txt_usr" type="text" value="" placeholder="Username"/>
			<input id="txt_pwd1" type="password" value="default"  placeholder="Password" class="hidden"/>
			<input id="txt_pwd2" type="password" value="default" placeholder="Re-Enter Password" class="hidden"/>
			<select id="sel_grp" class="form-control" class="hidden">
				<option value="pickme">Default</option>
			</select><br/>
			<select id="sel_type" class="form-control" class="hidden">
				<option value="device">Device</option>		
				<option value="usr" class="hidden">User</option>		
				<option value="operator" class="hidden">Operator</option>		
				<option value="admin" class="hidden">Admin</option>		
				<option value="grp" class="hidden">Group</option>		
			</select><br/>
			<input id="txt_name" type="text" value="default" placeholder="Name" class="hidden"/> 
			<input id="txt_email" type="email" value="default@gmail.com" placeholder="Email Address" class="hidden"/>
			<input id="txt_tel" type="tel" value="0123456789" placeholder="Phone Number" class="hidden"/>
			<button ng-click="register()">Register</button>
		</form>
	</div>

</div>
   
