<div class="container">

	<hr/>

	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p id="status_bar"/>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; VComm 2016</p>
			</div>
		</div>
	</footer>

</div>
