
<table class="table" *ngIf="cfg.getUsrSel()">
	<thead>
		<tr><th>Id</th><th>Version Code</th><th>Version Name</th></tr>
	</thead>
	<tbody>
		<tr class="info" *ngFor="let pkg of pkgService.usrPkgs[cfg.getUsrSel().getId()]"
		(click)="selectPkg(pkg)">
			<td>{{pkg.getPkg()}}</td>
			<td>{{pkg.getVersionCode()}}</td>
			<td>{{pkg.getVersionName()}}</td>
		</tr>
	</tbody>
</table>

<button (click)="refresh()" class="btn btn-success form-group btn-block">Refresh</button>

