<div class="form-group">
	<label for="device_state_id">Id</label>
	<input id="device_state_id" [(ngModel)]="newState.id" class="form-control"/> 
	<p *ngIf="validateId(newState.Id)" class="bg-warning">{{ validateId(newState.id) }}</p>

	<label for="device_state_description">Description </label>
	<input id="device_state_description" [(ngModel)]="newState.desc" class="form-control"/>
	<span *ngIf="validateDescription(newState.Id)" class="help-inline">
		<p class="bg-warning">{{ validateDescription(newState.desc) }}</p>
	</span>
</div>

<div class="form-group">
	<div class="form-group"> 
		<button (click)="addState()" 
			[disabled]="processing" 
			class="btn btn-success form-group btn-block">
				Add State
		</button>
	</div>

</div>

<div *ngIf="processStatus == 'success' && !processing" class="panel panel-success">
	<div class="panel-heading">Success</div>
	<div class="panel-body">Inserting Success</div>
</div>

<div *ngIf="processStatus == 'failed' && !processing" class="panel panel-danger">
	<div class="panel-heading">Error</div>
	<div class="panel-body">{{error}}</div>
</div>

