<button class="hidden" (click)="refresh()">Refresh</button>

<sebm-google-map 
	[latitude]="lat"
	[longitude]="lng"
	[zoom]="zoom"
	[disableDefaultUI]="false"
	[zoomControl]="true"
	(mapClick)="mapClicked($event)">

	<sebm-google-map-marker 
		*ngFor="let m of locService.locs; let i = index"
		(markerClick)="clickedMarker(m.label, i)"
		[latitude]="m.lat"
		[longitude]="m.lng"
		[label]="getName(m.imei)"
		[markerDraggable]="false"
		(dragEnd)="markerDragEnd(m, $event)">

		<sebm-google-map-info-window>
			<strong>InfoWindow content</strong>
		</sebm-google-map-info-window>

	</sebm-google-map-marker>

	<sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng" 
		[radius]="5000"
		[fillColor]="'red'"
		[circleDraggable]="true"
		[editable]="true">
	</sebm-google-map-circle>

</sebm-google-map>
