<div class="form-group">
	<label for="sel1">Select Apk</label>
	<select class="form-control" id="sel1" [(ngModel)]="selectedApk" >

		<option *ngFor="let apk of apkService.apks" value="{{apk ? apk.getId() : ''}}">{{apk.getDesc()}}</option>

	</select>
</div>

Open <input type="checkbox" [(ngModel)]="open" />

<button (click)="install()" class="btn btn-success form-group btn-block" [class.disabled]="processing">Install</button>

