
<div class="form-group" *ngIf="cfg.getUsrSel()">
	<label for="sel1">Select Package</label>
	<select class="form-control" id="sel1" [(ngModel)]="selectedPkg" >

		<option *ngFor="let pkg of pkgService.usrPkgs[cfg.getUsrSel().getId()]" 
			value="{{pkg ? pkg.getId() : ''}}">
			{{pkg ? pkg.getId() : ''}}
		</option>

	</select>
</div>

<input *ngIf="cfg.isMultiSelUsr()" [(ngModel)]="selectedPkg" class="btn-block" [class.disabled]="processing"/>
<button *ngIf="cfg.getUsrSel()" (click)="refresh()" class="btn btn-success form-group btn-block" [class.disabled]="processing">Refresh</button>
<button (click)="rm()" class="btn btn-success form-group btn-block" [class.disabled]="processing">Uninstall</button>
