
<div class="form-group">
	<label for="device_state_id">Id</label> 

	<select [(ngModel)]="state" (ngModelChange)="onSelState($event)" class="form-control">
		<option *ngFor="let state of deviceStateService.aState" value="{{ state.getId() }}">{{ state.getDesc() }}</option>
	</select>
</div>


<div class="form-group"> 
	<button (click)="sendState()" [disabled]="processing" class="btn btn-success form-group btn-block"
		[class.disabled]="processing">Sned 
	</button>
</div>

