/*!
 * Start Bootstrap - Shop Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; font-family: 'Roboto', sans-serif; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}



.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 20px 0 0 0;
	float:left;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    height: 50px;
    margin-bottom: -1px;
    padding: 5px;
    position: relative;
}


.spanStyle1 {float:left; margin:10px 0 0 10px;}
.spanStyle2 {  margin:0 0 0 5px; float:right;}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #fff;
    border-color: #d1d1d1;
    color: #666;
    z-index: 2;
}

.btn-group-lg > .btn, .btn-lg {
    border-radius: 6px;
    font-size: 15px;
    line-height: 1.33333;
    padding: 2px 16px;
}

.btn-primary {
    background-color: #23a3df;
    border-color: #666;
    color: #fff;
}