<!-- call bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isCall()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Call</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showCall(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_call> loading call component ... </comp_call>
	  </div> 

	</div>
      </div>
    </div>
<!-- call complete ************************************************************************************************** -->

<!-- users bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isUsers()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Devices</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showUsers(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<!--comp_users> loading users component ... </comp_users-->
		<comp_users_table> loading users table component </comp_users_table>
	  </div> 

	</div>
      </div>
    </div>
<!-- add users complete ************************************************************************************************** -->

<!-- groups bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isGroups()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Groups</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showGroups(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_groups> loading groups component </comp_groups>
	  </div> 

	</div>
      </div>
    </div>
<!-- add groups complete ************************************************************************************************** -->

<!-- add apks bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isAddApk()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Add Apks</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showAddApk(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_add_apk> loading add apk component ... </comp_add_apk>
	  </div> 

	</div>
      </div>
    </div>
<!-- add apks complete ************************************************************************************************** -->

<!-- view apks bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isViewApks()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>View Apks</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showViewApks(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_view_apks> loading view apks component ... </comp_view_apks>
	  </div> 

	</div>
      </div>
    </div>
<!-- view apks complete ************************************************************************************************** -->

<!-- install apk bgin ************************************************************************************************** -->
    <div class="row" *ngIf=viewService.isInstallApk()> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Install Apks</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showInstallApk(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_install_apk>loading install apk component ... </comp_install_apk>
	  </div> 

	</div>
      </div>
    </div>
<!-- install apk complete ************************************************************************************************** -->

<!-- installed packages bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isInstalledPackages()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Installed Apks</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showInstalledPackages(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_installed_packages>loading installed packages ... </comp_installed_packages>
	  </div> 

	</div>
      </div>
    </div>
<!-- installed packages complete ************************************************************************************************** -->

<!-- uninstall package bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isUninstallPackage()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Uninstall Apks</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showUninstallPackage(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_uninstall_package>loading uninstall pakcage ... </comp_uninstall_package>
	  </div> 

	</div>
      </div>
    </div>
<!-- uninstall package complete ************************************************************************************************** -->

<!-- device man bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isDeviceMan()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Device Manager</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showDeviceMan(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_device_man> loading device man component ... </comp_device_man>
	  </div> 

	</div>
      </div>
    </div>
<!-- device man complete ************************************************************************************************** -->

<!-- files bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isFiles()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Files</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showCall(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_files> loading files component ... </comp_files>
	  </div> 

	</div>
      </div>
    </div>
<!-- files complete ************************************************************************************************** -->

<!-- screen share bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isScreenShare()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Screen Share</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showScreenShare(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_screen_share> loading screen share component ... </comp_screen_share>
	  </div> 

	</div>
      </div>
    </div>
<!-- screen share complete ************************************************************************************************** -->

<!-- script bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isScript()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Script</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showScript(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_script> loading script component ... </comp_script>
	  </div> 

	</div>
      </div>
    </div>
<!-- script complete ************************************************************************************************** -->

<!-- device states  bgin ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isDeviceStates()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Composite Job</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showDeviceStates(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_device_states> loading device states component ... </comp_device_states>
	  </div> 

	</div>
      </div>
    </div>
<!-- device_state complete ************************************************************************************************** -->

<!-- device list report ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isReportDeviceList()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Device List Report</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showReportDeviceList(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_report_device_list> loading device list report component ... </comp_report_device_list>
	  </div> 

	</div>
      </div>
    </div>
<!-- device list report ************************************************************************************************** -->

<!-- locations ************************************************************************************************** -->
    <div class="row" *ngIf="viewService.isLoc()"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">

	  <div class="x_title"> 
	    <h2>Locations</h2>
	    <ul class="nav navbar-right panel_toolbox">
	      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	      </li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="#">No setting available</a>
		  </li>
		</ul>
	      </li>
	      <li><a class="" (click)="viewService.showLoc(false);"><i class="fa fa-close"></i></a>
	      </li>
	    </ul>
	    <div class="clearfix"></div>
	  </div>

	  <div class="x_content"> 
		<comp_loc> loading loc component ... </comp_loc>
	  </div> 

	</div>
      </div>
    </div>
<!-- locations ************************************************************************************************** -->

