    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
		
		<comp_sidebar>loading sidebar ... </comp_sidebar>	

          </div>
        </div>

		<comp_topbar> loading topbar ... </comp_topbar>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">

            <div class="page-title" *ngIf="cfg.getUsr() && viewService.isTopMenu()">
              <div class="title_left">
		<comp_menu> loading menu bar </comp_menu>
              </div>
              <div class="title_right">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

		<router-outlet></router-outlet> 

            <!--div class="row"> NOTE this segment contains all feature for a segment of main page includeing close/setting and hide 
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                  <div class="x_title"> 
                    <h2>{{title}}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content"> 
			<div id='item_content'>item content</div>	
                  </div> 

                </div>
              </div>
            </div-->

          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            VComm MDM by <a href="https://exmious.com">VComm-IT</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>

    </div>
