
<div class="form-group">
	<label for="device_state_id">Id</label> 

	<select [(ngModel)]="state" (ngModelChange)="onSelState($event)" class="form-control">
		<option *ngFor="let state of deviceStateService.aState" value="{{ state.getId() }}">{{ state.getDesc() }}</option>
	</select>
</div>

<!--button (click)="setAddNewState()"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button-->

<div class="form-group">
	<div class="form-group"> 
		<button (click)="setDevice()" 
			[disabled]="processing" 
			class="btn btn-success form-group btn-block">
				Set Device
		</button>
	</div>

</div>

<div *ngIf="processStatus == 'success' && !processing" class="panel panel-success">
	<div class="panel-heading">Success</div>
	<div class="panel-body">Inserting Success</div>
</div>

<div *ngIf="processStatus == 'failed' && !processing" class="panel panel-danger">
	<div class="panel-heading">Error</div>
	<div class="panel-body">{{error}}</div>
</div>

