
<div>
	<input [(ngModel)]="pathCur" [disabled]="fileService.getFileDownloadProgress()!=0"/> 
	<button (click)="go(pathCur, true)" [disabled]="fileService.getFileDownloadProgress()!=0">Get</button> 
	<button (click)="go(pathCur, false)" [disabled]="fileService.getFileDownloadProgress()!=0">Refresh</button>
</div>

<div class="row" *ngIf="fileService.getFileDownloadProgress() != 0">
	<div class="container">
		<div class="progress" *ngIf="progress!=0">
			<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
				[style.width]="fileService.getFileDownloadProgress() + '%'">
				<span class="sr-only">{{progress}}% Complete</span>
			</div>
		</div>
	</div>
</div>

<div class="row" *ngIf="cfg.getUsrSel() && fileService.files[cfg.getUsrSel().getId()]">
	<div class="container">

		<div class="col-xs-6 col-md-2 col-lg-2 col-sm-2"  *ngFor="let file of fileService.files[cfg.getUsrSel().getId()][getPathCur()]">

			<!--tooltip-content #file_tooltip [animation]="true">
				<div *ngIf="tooltipFile">
					<span>{{tooltipFile.getName()}}</span> 
					<span *ngIf="isFile(tooltipFile)">Size : {{tooltipFile.getSize()}}</span>
				</div>
			</tooltip-content-->

			<button (dblclick)="open(file)" (click)="select(file)" (mouseover)="setTooltipFile(file)" 
				type="button" class="btn btn-default btn-lg text-center no_border">
				<img [src]="getFileImg(file)" width={{fileImgWidth}}/>
				<br><small>{{getFileName(file, 10)}}</small>
			</button>

		</div>

	</div>
</div>

<div class="col-md-6">

	<div *ngIf="progressAdd==0" class="form-horizontal">

			<div class="form-group has-feedback" [class.has-warning]="triedAdd && !isFileOk()" [class.has-success]="triedAdd && isFileOk()">
				<label class="col-sm-2 control-label" for="txt_description">Apk File</label>
				<div class="col-sm-10">
					<span class="btn btn-default btn-file">
						<input type="file" (change)="onFileToAdd($event.srcElement.files[0], $event.target.value)" class="btn" 
							[class.btn-warning]="triedAdd && !isFileOk()()" [class.btn-success]="triedAdd && isFileOk()"/>
					</span>
					<span class="glyphicon form-control-feedback" 
						[class.glyphicon-warning-sign]="triedAdd && !isFileOk()" [class.glyphicon-ok]="triedAdd && isFileOk()">
					</span>
				</div>
			</div>

			<div class="form-group has-feedback">
				<label class="col-sm-2 control-label" for="txt_description"></label>
				<div class="col-sm-10">
					<button (click)="add()" class="btn btn-success form-group btn-block">Add</button>
				</div>
			</div> 
	</div>
	
	<div class="progress" *ngIf="progressAdd!=0">
		<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" 
			[style.width]="progressAdd + '%'">
			<span class="sr-only">{{progressAdd}}% Complete</span>
		</div>
	</div>

</div>
