<div class="col-md-3" class="">

	<div class="thumbnail">
		<h4 class=""> <p style="text-align:center;">Control Panel </p> </h4>

		<div class="caption-full">

			<div class="caption-full" style="text-align:center;">
				<span><img id="cmd_flash_auto" src="img/flash-auto.png" width="30" style="cursor: pointer;"></span>
				<span><img id="cmd_flash_on" src="img/flash-on.png" width="30" style="cursor: pointer;"></span>
				<span><img id="cmd_flash_off" src="img/flash-off.png" width="30" style="cursor: pointer;"></span>
				<span><img id="cmd_flash_torch" src="img/torch.png" width="30" style="cursor: pointer;"></span>
			</div> 

			<div class="caption-full" style="text-align:center;"> 
				<p style="text-align:center;">Image Size</p> 
				<input type="range" min="1" max="100" step="1" id="seek_img_size" style="cursor: pointer;"/>
			</div> 

			<div class="caption-full" style="text-align:center;"> 
				<p style="text-align:center;">Image Quality</p> 
				<input type="range" min="1" max="100" step="1" id="seek_img_quality" style="cursor: pointer;"/>
			</div> 

			<div class="caption-full"  style="text-align:center;"> 
				<p style="text-align:center;">Zoom Camera</p> 
				<span><img id="cmd_cam_zoom_in" src="img/zoom-in.png" width="30" style="cursor: pointer;"></span>
				<span><img id="cmd_cam_zoom_out" src="img/zoom-out.png" width="30" style="cursor: pointer;"></span>
			</div> 

			<div class="caption-full" style="text-align:center;"> 
				<p style="text-align:center;"> Picture Rotate </p> 
				<span><img src="img/right-r.png" style="cursor: pointer;"></span>
				<span><img src="img/left-r.png" style="cursor: pointer;"></span>
			</div>                       
		</div>

	</div>

	<div class="thumbnail">
		<h4> <p style="text-align:center;">Captured Images </p> </h4>
		<div id="lst_img" class="row">
		</div>
		<div class="caption-full" style="text-align:center; padding:20px 0 20px 0;"> 
			<img id="cmd_img_download" src="img/download_img.png" style="cursor: pointer;"/> 
		</div>
	</div>
</div>

