
<div class="col-md-6">
	User <input type="text" id="txt_msg_to" value="dileepa" /><br/>
	Message <input type="text" id="txt_msg" value="dileepa" /><br/>
	<button onclick="sendMsg()">SendMsg</button><br/>
</div>
