<div class="row">
    <div class="col-xs-2">
	<label class="label-control">Rows on page</label>
	<select class="form-control input-sm" [(ngModel)]="rowsOnPage">
	    <option [ngValue]="50">50</option>
	    <option [ngValue]="75">75</option>
	    <option [ngValue]="100">100</option>
	</select>
    </div>
    <div class="col-xs-4">
	<div class="row">
	    <label class="col-xs-12 label-control">Sort by</label>
	</div>
	<div class="col-xs-6">
	    <div class="row">
		<select class="form-control input-sm" [(ngModel)]="sortBy">
		    <option ngValue="id">Id</option>
		    <option ngValue="uid">Driver Id</option>
		    <option ngValue="name">Name</option>
		    <!--option ngValue="model">Type</option>
		    <option [ngValue]="sortByWordLength">State</option>
		    <option ngValue="lastConnected">Last Connected</option>
		    <option ngValue="lastDisconnected">Last Disonnected</option-->
		    <option ngValue="rooted">Rooted</option>
		</select>
	    </div>
	</div>
	<div class="col-xs-6">
	    <div class="row">
		<select class="form-control input-sm" [(ngModel)]="sortOrder">
		    <option ngValue="asc">Ascending</option>
		    <option ngValue="desc">Descending</option>
		</select>
	    </div>
	</div> 
    </div>
</div>
<div class="panel panel-default">
    <table class="table table-condensed" [mfData]="userService.getDeviceArray() | dataFilter : getFilterUser()" 
	#mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" 
	(window:keydown)="onKeyDown($event.keyCode)" (window:keyup)="onKeyUp($event.keyCode)">
	<thead>
	<tr>
	    <th style="width: 4%"></th>
	    <th>
		<mfDefaultSorter by="id">Id</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter by="uid">Uid</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter by="name">Name</mfDefaultSorter>
	    </th>
	    <!--th>
		<mfDefaultSorter by="model">Model</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter [by]="sortByWordLength">State</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter by="lastConnected">Last Connected</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter by="lastDisconnected">Last Disconnected</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter by="rooted">Rooted</mfDefaultSorter>
	    </th-->
	    <th>
		<mfDefaultSorter by="">Options</mfDefaultSorter>
	    </th>
	</tr>
	<tr>
	    <td>
	    </td>
	    <td>
		<input class="form-control" [(ngModel)]="filterId"/>
	    </td>
	    <td>
		<input class="form-control" [(ngModel)]="filterUid"/>
	    </td>
	    <td>
		<input class="form-control" [(ngModel)]="filterName"/>
	    </td>
	    <!--td>
		<input class="form-control" [(ngModel)]="filterModel"/>
	    </td>
	    <td>
		<input class="form-control" [(ngModel)]="filterState"/>
	    </td>
	    <td>
	    </td>
	    <td>
	    </td-->
	    <td>
	    </td>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let usr of mf.data"
		[class.info]="isSel(usr)" 
		(click) = "selUsr(usr)"
		style="font-size: 10px">
	    <td>
		<button class="btn" style="padding:6px 6px;height:6px" 
			[class.btn-info]="getState(usr) == 'init'"  
			[class.btn-success]="getState(usr) == 'connected' || getState(usr) == 'connecting'"  
			[class.btn-danger]="getState(usr) == 'disconnected'"><p> </p></button>
	    </td>
	    <td>{{ usr.getId() }}</td>
	    <td>
		<div *ngIf="!isEdit(usr)"> {{ usr.getUid() }} </div>
		<input *ngIf="isEdit(usr)" [(ngModel)]="usr.uid"/>
	    </td>
	    <td>
		<div *ngIf="!isEdit(usr)"> {{ usr.getName() }} </div>
		<input *ngIf="isEdit(usr)" [(ngModel)]="usr.name"/>
	    </td>
	    <!--td>{{ usr.getDevice() ? usr.getDevice().getModel() : "" }}</td>
	    <td>{{ getState(usr) | uppercase }}</td>
	    <td>{{ secToDate(usr.getConnectedTime()) }}</td>
	    <td>{{ secToDate(usr.getDisconnectedTime()) }}</td>
	    <td>{{ usr.getDevice() ? (usr.getDevice().isRooted() ? "Granted" : "No") : "" }}</td-->
	    <td>
		<img src="images/edit.png" (click)="edit(usr)" *ngIf="!isEdit(usr)" width="20"/>
		<img src="images/save.png" (click)="save(usr)" *ngIf="isEdit(usr)" width="20"/>
		<img src="images/cancel.png" (click)="cancel(usr)" *ngIf="isEdit(usr)" width="20"/>
	    </td>
	</tr>
	</tbody>
	<tfoot>
	<tr>
	    <td colspan="5">
		<mfBootstrapPaginator [rowsOnPageSet]="[50,75,100]"></mfBootstrapPaginator>
	    </td>
	</tr>
	</tfoot>
    </table> 

    <button (click)="refresh()" class="btn btn-success form-group btn-block"
	[class.disabled]="processing">Refresh
    </button>

</div>
