
To <input id="txt_to" value="dileepa" /><br/>
<button onclick="sendContactReq(document.getElementById('txt_to').value)">Send Contact Request</button></br>
<button id="cmd_send_req">Send Request</button><br/>
<button id="cmd_add_ses">Add Session</button><br/>

<div id="div_conn_req" />

<div id="videos">
	<video width=512 id="remote_video" autoplay></video>
	<video id="local_video" width='512' autoplay muted></video> 
</div>

<div id="call_icons" class="hidden">
	<button id="cmd_mute_audio">Mute Audio</button>
	<button id="cmd_mute_video">Mute Video</button>
	<button id="cmd_hangup">Hangup</button>
	<button id="cmd_take_pic">Take Picture</button><br/>
</div> 

<div class="container">
	<div style="width:20%;" id="div_img_receive_progress"></div>
</div>

<img id="img_dis">
</img>

<img class="hidden"id="img_def_vid" />
<input class="hidden" id="txt_new_customer" />
<div class="hidden" id="lst_customer" />
<div class="hidden" id="lst_img" />

