<table class="table" height="100">
	<thead>
		<tr><th>Id</th><th>Description</th><th>Package</th><th>Version Code</th><th>Version Name</th><th>State</th></tr>
	</thead>
	<tbody>
		<tr *ngFor="let apk of apkService.apks"
		[class.success]="apk !== cfg.getApkSel() && apk.state == 'active'"
		[class.danger]="apk !== cfg.getApkSel() && apk.state == 'dissable'"
		[class.info]="apk !== cfg.getApkSel() && apk.state == 'none'"
		[class.active]="apk === cfg.getApkSel()"
		(click)="onSelectApk(apk)">

			<td>{{apk.id}}</td>
			<td>{{apk.desc}}</td>
			<td>{{apk.pkg.pkg}}</td>
			<td>{{apk.pkg.versionCode}}</td>
			<td>{{apk.pkg.versionName}}</td>
			<td>{{apk.state}}</td>
		</tr>
	</tbody>
</table>

<button (click)="refresh()" class="btn btn-success form-group btn-block">Refresh</button>
