
<div class="col-md-6">

	<div class="form-horizontal">

			<div class="form-group has-feedback" 
					(keypress)="onKey($event.keyCode)"
					[class.has-warning]="tried && !isValidScript()" 
					[class.has-success]="tried && isValidScript()">
				<label class="col-sm-2 control-label" for="txt_description">Description</label>
				<div class="col-sm-10">
					<textarea [(ngModel)]="script" placeholder="Description" 
						type="text" class="form-control" id="txt_description">
					</textarea>
					<span class="glyphicon form-control-feedback" 
						[class.glyphicon-warning-sign]="tried && !isValidScript()" 
						[class.glyphicon-ok]="tried && isValidScript()">
					</span>
				</div>
			</div>

			<div class="form-group has-feedback">
				<label class="col-sm-2 control-label" for="txt_description"></label>
				<div class="col-sm-10">
					<button (click)="run()" class="btn btn-success form-group btn-block">Run</button>
				</div>
			</div> 

			<div *ngFor="let out of scriptService.out" class="panel" 
				[class.panel-success]="out.err.length == 0 && !out.exception"
				[class.panel-warning]="out.err.length != 0 || out.exception"
				>
				<div class="panel-heading">
					{{
						out.usr.getName() +
						" : " + 	
						(out.out.length > 0 ? "Success" : out.err.length > 0 ? "Error" 
						: out.exception.length > 0 ? "Exception" : "Output")
					}}
				</div>
				<div class="panel-body">
					<p *ngFor="let line of out.out"> {{ line }} </p>
					<p *ngFor="let line of out.err"> {{ line }} </p>
					<p> {{ out.exception }} </p>
				</div>
			</div>
	</div>
	
</div>
