<div class="panel panel-default">
    <table class="table table-condensed" [mfData]="userService.getDeviceArray() | dataFilter : getFilterUser()" 
	#mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" 
	(window:keydown)="onKeyDown($event.keyCode)" (window:keyup)="onKeyUp($event.keyCode)">
	<thead>
	<tr>
	    <th>
		<mfDefaultSorter by="id">Id</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter by="uid">Uid</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter by="name">Name</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter by="model">Model</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter by="lastConnected">Last Connected</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter by="lastDisconnected">Last Disconnected</mfDefaultSorter>
	    </th>
	    <th>
		<mfDefaultSorter by="rooted">Rooted</mfDefaultSorter>
	    </th>
	</tr>
	<tr>
	    <td>
		<input class="form-control" [(ngModel)]="filterId"/>
	    </td>
	    <td>
		<input class="form-control" [(ngModel)]="filterUid"/>
	    </td>
	    <td>
		<input class="form-control" [(ngModel)]="filterName"/>
	    </td>
	    <td>
		<input class="form-control" [(ngModel)]="filterModel"/>
	    </td>
	    <td>
	    </td>
	    <td>
	    </td>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let usr of mf.data"
		[class.info]="isSel(usr)" 
		(click) = "selUsr(usr)"
		style="font-size: 10px">
	    <td>{{ usr.getId() }}</td>
	    <td>
		<div *ngIf="!isEdit(usr)"> {{ usr.getUid() }} </div>
		<input *ngIf="isEdit(usr)" [(ngModel)]="usr.uid"/>
	    </td>
	    <td>
		<div *ngIf="!isEdit(usr)"> {{ usr.getName() }} </div>
		<input *ngIf="isEdit(usr)" [(ngModel)]="usr.name"/>
	    </td>
	    <td>{{ usr.getDevice() ? usr.getDevice().getModel() : "" }}</td>
	    <td>{{ secToDate(usr.getConnectedTime()) }}</td>
	    <td>{{ secToDate(usr.getDisconnectedTime()) }}</td>
	    <td>{{ usr.getDevice() ? (usr.getDevice().isRooted() ? "Granted" : "No") : "" }}</td>
	</tr>
	</tbody>
	<tfoot>
	<tr>
	    <td colspan="5">
		<mfBootstrapPaginator [rowsOnPageSet]="[10, 50,75,100]"></mfBootstrapPaginator>
	    </td>
	</tr>
	</tfoot>
    </table> 

    <button (click)="downloadCsv()" class="btn btn-success form-group btn-block"
	[class.disabled]="processing">Download CSV
    </button>

    <br/> 
    Select A Package
    <select [(ngModel)]="selectedPkg">
        <option *ngFor="let pkg of userService.aPkg">	
            {{ pkg.pkg }}
        </option>
    </select> 

    <button (click)="downloadAppInfo()" class="btn btn-success form-group btn-block"
	[class.disabled]="processing">Download AppInfo CSV
    </button> 

</div>
