
screen share

<button (click)="start()">start</button>
<button (click)="stop()">stop</button>

<img id="screen_share_screen" width="300" src={{screenShareService.getLastlyReceivedImg()}} (click)="onClick($event)"/>

