<table>
	<tr><td><button class="btn btn-success btn-block" (click)="restart()">Restart</button></td></tr>
	<tr><td><button class="btn btn-success btn-block">Clear Cache</button></td></tr>
	<tr><td><button class="btn btn-success btn-block">Clear Temorary Files</button></td></tr>
</table>
