<div class="col-md-6">
	
	<img id="img_def_vid" class="img-responsive" src="img/image.png" alt=""> 
	<div id="videos">
		<video width='300' id="remote_video" autoplay></video>
		<video id="local_video" width='100' autoplay muted></video> 
	</div>

	<div class="caption-full">

		<div class="pull-right" style="width:50%;" id="div_img_receive_progress"></div>

		<h4 class="pull-left">
			<div id="call_icons" class="col-md-6">
				<button (click)="call()" class=""><span><img src="img/call.png"></span></button>
				<button id="cmd_mute_audio"><span><img src="img/mute_audio.png"></span></button>
				<button id="cmd_mute_video"><span><img src="img/mute_video.png"></span></button>
				<button id="cmd_take_pic"><span><img src="img/snap.png"></span></button>
				<button id="cmd_record"><span><img id="img_cmd_record" src="img/record.png"></span></button>
				<button id="cmd_hangup"><span><img src="img/hang.png"></span></button>
			</div> 
		</h4> 
	</div> 
</div>

<div class="col-md-6" class="hidden">

	<div class="thumbnail">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-md-6">Id</th>
					<th class="col-md-6">Latitude</th>
					<th class="col-md-6">Longitude</th>
				</tr>
			</thead>
			<tbody id="lst_gps_info"></tbody>
		</table>

		<button id="cmd_cls_gps_info">Clear</button>
	</div>
</div>


<div class="col-md-3" class="hidden">

	<div class="thumbnail">
		<h4 class=""> <p style="text-align:center;">Control Panel </p> </h4>

		<div class="caption-full">

			<div class="caption-full" style="text-align:center;">
				<span><img id="cmd_flash_auto" src="img/flash-auto.png" width="30" style="cursor: pointer;"></span>
				<span><img id="cmd_flash_on" src="img/flash-on.png" width="30" style="cursor: pointer;"></span>
				<span><img id="cmd_flash_off" src="img/flash-off.png" width="30" style="cursor: pointer;"></span>
				<span><img id="cmd_flash_torch" src="img/torch.png" width="30" style="cursor: pointer;"></span>
			</div> 

			<div class="caption-full" style="text-align:center;"> 
				<p style="text-align:center;">Image Size</p> 
				<input type="range" min="1" max="100" step="1" id="seek_img_size" style="cursor: pointer;"/>
			</div> 

			<div class="caption-full" style="text-align:center;"> 
				<p style="text-align:center;">Image Quality</p> 
				<input type="range" min="1" max="100" step="1" id="seek_img_quality" style="cursor: pointer;"/>
			</div> 

			<div class="caption-full"  style="text-align:center;"> 
				<p style="text-align:center;">Zoom Camera</p> 
				<span><img id="cmd_cam_zoom_in" src="img/zoom-in.png" width="30" style="cursor: pointer;"></span>
				<span><img id="cmd_cam_zoom_out" src="img/zoom-out.png" width="30" style="cursor: pointer;"></span>
			</div> 

			<div class="caption-full" style="text-align:center;"> 
				<p style="text-align:center;"> Picture Rotate </p> 
				<span><img src="img/right-r.png" style="cursor: pointer;"></span>
				<span><img src="img/left-r.png" style="cursor: pointer;"></span>
			</div>                       
		</div>

	</div>

	<div class="thumbnail">
		<h4> <p style="text-align:center;">Captured Images </p> </h4>
		<div id="lst_img" class="row">
		</div>
		<div class="caption-full" style="text-align:center; padding:20px 0 20px 0;"> 
			<img id="cmd_img_download" src="img/download_img.png" style="cursor: pointer;"/> 
		</div>
	</div>
</div>

