
<div class="col-md-6">

	<div *ngIf="progress==0" class="form-horizontal">

			<div class="form-group has-feedback" [class.has-warning]="isDescriptionWarning()" [class.has-success]="isDescriptionOk()">
				<label class="col-sm-2 control-label" for="txt_description">Description</label>
				<div class="col-sm-10">
					<input [(ngModel)]="description" placeholder="Description" 
						type="text" class="form-control" id="txt_description" />
					<span class="glyphicon form-control-feedback" 
						[class.glyphicon-warning-sign]="isDescriptionWarning()" 
						[class.glyphicon-ok]="isDescriptionOk()">
					</span>
				</div>
			</div>

			<div class="form-group has-feedback" [class.has-warning]="isFileWarning()" [class.has-success]="isFileOk()">
				<label class="col-sm-2 control-label" for="txt_description">Apk File</label>
				<div class="col-sm-10">
					<span class="btn btn-default btn-file">
						<input type="file" (change)="onFile($event)" class="btn" 
							[class.btn-warning]="isFileWarning()" [class.btn-success]="isFileOk()"/>
					</span>
					<span class="glyphicon form-control-feedback" 
						[class.glyphicon-warning-sign]="isFileWarning()" [class.glyphicon-ok]="isFileOk()">
					</span>
				</div>
			</div>

			<div class="form-group has-feedback">
				<label class="col-sm-2 control-label" for="txt_description"></label>
				<div class="col-sm-10">
					<button (click)="addApk()" class="btn btn-success form-group btn-block">Upload</button>
				</div>
			</div> 
	</div>
	
	<div class="progress" *ngIf="progress!=0">
		<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" [style.width]="progress + '%'">
			<span class="sr-only">{{progress}}% Complete</span>
		</div>
	</div>

</div>
