<!DOCTYPE html>
<html>
<head id="header">

	<meta charset="utf-8">
	<meta itemprop="description" content="VCom Web Application">
	<meta itemprop="name" content="VCom">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="tp/bootstrap-3.3.6-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="tp/lightbox_rotate/css/style.css">

	<base target="_blank">

	<title>VCom</title>

	<link rel="manifest" href="/manifest.json">
	
	<% include ui/header.ejs %>
</head>

<body>
	<div ng-app="app" ng-controller="ctrl"> 
		<div id="div_ctrl">
			<% if (page == "login") {%>
				<% if (is_basic) { %>
					<% include sec/login %>	
				<% } else { %>
					<% include ui/sec/login %>
				<% } %>
			<% } else if (page = "register") {%>
				<% include ui/sec/register %>
			<% } %>
		</div>
	</div>

	<script>
		var Cfg = 
		{
			getUrlApi: function()
			{
				return "<%= url_api %>";
			}
		};
	</script>
		
	<script src="tp/js/socket.io-1.2.0.js"></script>
	<script src="tp/js/jquery-1.11.1.js"></script>
	<script src="tp/js/angular-1.4.8.min.js"></script>
	<script src="tp/js/jszip-utils-0.0.2.js"></script>
	<script src="tp/js/RecordRTC.js"></script> 
	<script src="tp/js/download.js"></script>

	<script src="tp/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<script src="tp/lightbox_rotate/js/jqueryrotate.min.js"></script>
	<script src='tp/lightbox_rotate/js/lightbox_rotate_custom.js'></script>
	
	<script src='cmn/TabCtrl.js'></script>

	<script src='vcom/Socket.js'></script>
	<script src='vcom/Util.js'></script>
	<script src='vcom/Adapter.js'></script>
	<script src='vcom/Call.js'></script>
	<script src='vcom/PeerCon.js'></script>
	<script src='vcom/SdUtil.js'></script>

	<script src='js/Util.js'></script>
	<script src='js/VidCtrl.js'></script>
	<script src='js/mod/Usr.js'></script>
	<script src='js/mod/File.js'></script>
	<script src='js/mod/ScreenShare.js'></script>
	<script src='js/mod/Script.js'></script>
	<script src='js/mod/DeviceState.js'></script>
	<script src='js/mod/Loc.js'></script>
	<script src='js/Msg.js'></script>
	<script src='js/UsrState.js'></script>
	<script src='js/Main.js'></script> 
	<script src='js/FormCtrl.js'></script>
</body>
</html>
