<div class="" role="tabpanel" data-example-id="togglable-tabs">
	<ul class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" (click)="viewService.showCall(true)" class="">
                    <a href="#tab_call" aria-controls="tab_call" role="tab" data-toggle="tab">Camera</a>
                </li>
                <li role="presentation" (click)="viewService.showUsers(true)" class="active">
                    <a href="#tab_users" aria-controls="tab_users" role="tab" data-toggle="tab">Devices</a>
                </li>
                <li role="presentation" (click)="viewService.showViewApks(true)">
                    <a href="#tab_jobs" aria-controls="tab_jobs" role="tab" data-toggle="tab">Create Jobs</a>
                </li>
                <li role="presentation" (click)="viewService.showInstallApk(true)" >
                    <a href="#tab_apply_jobs" aria-controls="tab_apply_jobs" role="tab" data-toggle="tab">Apply Jobs</a>
                </li>
                <li role="presentation" (click)="viewService.showDeviceStates(true)" class="">
                    <a href="#tab_device_states" aria-controls="tab_device_states" role="tab" data-toggle="tab">Device States</a>
                </li>
                <li role="presentation" (click)="viewService.showScreenShare(true)">
                    <a href="#tab_device" aria-controls="tab_device" role="tab" data-toggle="tab">Device Activity</a>
                </li>
                <li role="presentation" class="hidden">
                    <a href="#tab_report" aria-controls="tab_report" role="tab" data-toggle="tab">Reports</a>
                </li>
                <li role="presentation" class="hidden">
                    <a href="#tab_pages" aria-controls="tab_pages" role="tab" data-toggle="tab">Pages</a>
                </li>
                <li role="presentation">
                    <a href="#tab_view" aria-controls="tab_view" role="tab" data-toggle="tab">Views</a>
                </li>
	</ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="tab_call">
			<button (click)="viewService.showCall(!viewService.isCall())" class="btn"
				[class.btn-default]="!viewService.isCall()" [class.btn-info]="viewService.isCall()">
				<i class="fa fa-phone"></i> 
				Call 
			</button>

		</div>	

                <div role="tabpanel" class="tab-pane fade active in" id="tab_users">

			<button (click)="viewService.showUsers(!viewService.isUsers())" class="btn"
				[class.btn-default]="!viewService.isUsers()" [class.btn-info]="viewService.isUsers()">
				<i class="fa fa-user"></i>
				View All Devices 
			</button>

			<button (click)="viewService.showAddUser(!viewService.isAddUser())" type="button" class="btn" 
				[class.btn-default]="!viewService.isAddUser()" [class.btn-info]="viewService.isAddUser()">
				<i class="fa fa-plus-square"></i> 
				Add Users 
			</button>

			<button (click)="viewService.showGroups(!viewService.isGroups())" type="button" class="btn" 
				[class.btn-default]="!viewService.isGroups()" [class.btn-info]="viewService.isGroups()">
				<i class="fa fa-plus-square"></i> 
				Groups
			</button>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab_jobs">

			<button (click)="viewService.showViewApks(!viewService.isViewApks())" class="btn"
				[class.btn-default]="!viewService.isViewApks()" [class.btn-info]="viewService.isViewApks()">
				<i class="fa fa-calculator"></i>
				View Apks
			</button>

			<button (click)="viewService.showAddApk(!viewService.isAddApk())" type="button" class="btn" 
				[class.btn-default]="!viewService.isAddApk()" [class.btn-info]="viewService.isAddApk()">
				<i class="fa fa-plus-square"></i> 
				Add Apk
			</button>

                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab_apply_jobs">

			<button (click)="viewService.showInstallApk(!viewService.isInstallApk())" class="btn"
				[class.btn-default]="!viewService.isInstallApk()" [class.btn-info]="viewService.isInstallApk()">
				<i class="fa fa-bolt"></i> 
				Install Apk
			</button>

			<button (click)="viewService.showUninstallPackage(!viewService.isUninstallPackage())" class="btn"
				[class.btn-default]="!viewService.isUninstallPackage()" [class.btn-info]="viewService.isUninstallPackage()">
				<i class="fa fa-remove"></i> 
				Remove Packages
			</button>

			<button (click)="viewService.showScript(!viewService.isScript())" class="btn"
				[class.btn-default]="!viewService.isScript()" [class.btn-info]="viewService.isScript()">
				<i class="fa fa-bolt"></i> 
				Run Scripts
			</button>

                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab_device_states">

			<button (click)="viewService.showDeviceStates(!viewService.isDevieeStates())" class="btn"
				[class.btn-default]="!viewService.isDeviceStates()" [class.btn-info]="viewService.isDeviceStates()">
				<i class="fa fa-bolt"></i> 
				Device States
			</button>

                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab_device">

			<button (click)="viewService.showScreenShare(!viewService.isScreenShare())" class="btn"
				[class.btn-default]="!viewService.isScreenShare()" [class.btn-info]="viewService.isScreenShare()">
				<i class="fa fa-bolt"></i> 
				Remote Login
			</button> 

			<button (click)="viewService.showFiles(!viewService.isFiles())" class="btn"
				[class.btn-default]="!viewService.isFiles()" [class.btn-info]="viewService.isFiles()">
				<i class="fa fa-bolt"></i> 
				File Explorer
			</button>

			<button (click)="viewService.showDeviceMan(!viewService.isDeviceMan())" class="btn"
				[class.btn-default]="!viewService.isDeviceMan()" [class.btn-info]="viewService.isDeviceMan()">
				<i class="fa fa-bolt"></i> 
				Manage
			</button>

			<button (click)="viewService.showInstalledPackages(!viewService.isInstalledPackages())" class="btn"
				[class.btn-default]="!viewService.isInstalledPackages()" [class.btn-info]="viewService.isInstalledPackages()">
				<i class="fa fa-bar-chart"></i> 
				Installed Packages
			</button>

		</div>

                <div role="tabpanel" class="tab-pane fade" id="tab_report">

			<button (click)="viewService.showInstallApk(!viewService.isInstallApk())" class="btn"
				[class.btn-default]="!viewService.isInstallApk()" [class.btn-info]="viewService.isInstallApk()">
				<i class="fa fa-bolt"></i> 
				Location Report
			</button> 

			<button (click)="viewService.showInstallApk(!viewService.isInstallApk())" class="btn"
				[class.btn-default]="!viewService.isInstallApk()" [class.btn-info]="viewService.isInstallApk()">
				<i class="fa fa-bolt"></i> 
				Error Reports
			</button>

		</div>

                <div role="tabpanel" class="tab-pane fade" id="tab_pages">
			<a routerLink="/login" class="btn btn-default">
				<i class="fa fa-bolt"></i> 
				Login
			</a>
			<a routerLink="/admin" class="btn btn-default">
				<i class="fa fa-bolt"></i> 
				Admin
			</a>
			<a routerLink="/users" class="btn btn-default">
				<i class="fa fa-bolt"></i> 
				Useres
			</a>
		</div>

                <div role="tabpanel" class="tab-pane fade" id="tab_view">

			<button (click)="viewService.setPreserveView(!viewService.isPreserveView())" class="btn"
				[class.btn-default]="!viewService.isPreserveView()" [class.btn-info]="viewService.isPreserveView()">
				<i class="fa fa-bolt"></i> 
				Preserve Views
			</button>

                </div>

            </div>
</div>
