
<ul class="nav nav-tabs">
  <li [class.active]="isShowAdd()" (click)="showAdd(true)"><a>Add</a></li>
  <li [class.active]="isShowEdit()" (click)="showEdit(true)"><a>Edit</a></li>
  <li [class.active]="isShowApply()" (click)="showApply(true)"><a>Apply</a></li>
  <li [class.active]="isShowSetDevice()" (click)="showSetDevice(true)"><a>Set Device</a></li>
</ul>

<div *ngIf="isShowAdd()"><comp_add_device_state> loading add state component </comp_add_device_state></div>
<div *ngIf="isShowApply()"><comp_send_device_state> loading send device state ... </comp_send_device_state></div> 
<div *ngIf="isShowEdit()"><comp_edit_device_state> loading edit device state ... </comp_edit_device_state></div>
<div *ngIf="isShowSetDevice()"><comp_set_device> loading set device component ... </comp_set_device></div>

