<table class="table">
	<thead>
		<tr><th>Id</th><th>Type</th><th>State</th></tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of userService.keys()"
			[class.success]="user !== cfg.usrSel && userService.users[user].state == 'connected'"
			[class.danger]="user !== cfg.usrSel && userService.users[user].state == 'disconnected'"
			[class.info]="user !== cfg.usrSel && userService.users[user].state == 'init'"
			[class.active]="userService.users[user] === cfg.usrSel"
			(click)="onSelect(userService.users[user])">
			<td>{{userService.users[user].id}}</td>
			<td>{{userService.users[user].type}}</td>
			<td>{{userService.users[user].state}}</td>
		</tr>
	</tbody>
</table>

<button (click)="refresh()" class="btn btn-success form-group btn-block"
	[class.disabled]="processing">Refresh
</button>

<div *ngIf="cfg.getUsrSel()">
	<h2>
		{{cfg.getUsrSel().getId() | uppercase}} is selected user 
	</h2>

	<button (click)="gotoDetail()">View Details</button> 
</div>
