
<div class="panel panel-default">
	<div class="panel-heading">Basic Info</div>
	<div class="panel-body"> 

		<div class="form-group">
			<label for="device_state_id">Id</label> 
			<select id="device_state_id" [(ngModel)]="state" (ngModelChange)="onSelId($event)" class="form-control">
				<option *ngFor="let state of deviceStateService.aState" value="{{ state.getId() }}">{{ state.getDesc() }}</option>
			</select> 
		</div>

		<div class="form-group">
			<label for="device_state_description">Description</label> 
			<input id="device_state_description" [(ngModel)]="getState().desc" class="form-control" /> 
		</div>

		<div class="form-group">
			<label for="device_state_state">State </label> 
			<input id="device_state_state" [(ngModel)]="getState().st" class="form-control" /> 
		</div> 
	</div>
</div>

<br/>

<div class="panel panel-default">
	<div class="panel-heading"> Packages </div>
	<div class="panel-body"> 
		<table border='1'>
			<thead><td>Apk Desc</td><td>Package</td><td>Apk</td><td>Version Code</td><td>Version Name</td></thead>

			<tr *ngFor="let pkg of getState().getAPkg()">

				<select [(ngModel)]="pkg.apk" (ngModelChange)="onSelPkgApk($event, pkg)">
					<option *ngFor="let apk of apkService.apks" value="{{ apk.id }}">{{ apk.desc }}</option>
				</select>

				<td> {{ pkg.getPkg() }} </td>
				<td> {{ pkg.getApk() }} </td>		
				<td> {{ pkg.getVersionCode() }} </td>		
				<td> {{ pkg.getVersionName() }} </td>		
			</tr>
		</table> 

		<br/>
		<button (click)="addPkg()">Add new package</button>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Package to be removed</div>
	<div class="panel-body"> 
		<table>
			<thead><td>Package</td></thead>

			<tr *ngFor="let pkg of getState().getAPkgRm()">
				<td><input type="text" [(ngModel)]="pkg.pkg"/></td>		
				<td> {{ pkg.getPkg() }} </td>
			</tr>
		</table> 
		<br/>
		<button (click)="addPkgRm()">Add new package to be remove</button>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Scripts</div>
	<div class="panel-body"> 
		<table cellpadding='50'>
			<thead><td>Bash Script</td><td>Run As Root</td></thead>

			<tr *ngFor="let pkg of getState().getAScript()">
				<td><input type="text" [(ngModel)]="pkg.bash"/></td>		
				<td><input type="checkbox" [(ngModel)]="pkg.root"/></td>		
				<td> {{ pkg.getBash() }} </td>
				<td> {{ pkg.isRoot() }} </td>
			</tr>
		</table> 
		<br/>
		<button (click)="addScript()">Add New Script</button>
	</div>
</div> 

<div class="panel panel-default">
	<div class="panel-heading">Other Settings</div>
	<div class="panel-body"> 

		<div class="form-group">
			<label for="device_state_lock_device">Lock Device</label> 
			<input type="checkbox" id="device_state_lock_device" [(ngModel)]="getState().lock" class="form-control" />
		</div>

	</div>
</div>

<button (click)="save()">Save</button>
