

            <div class="navbar nav_title" style="border: 0;">
              <a href="javascript:void(0)" class="site_title"><img width="50" src="img/logo.png"/> <span>VComm MDM</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix" *ngIf="cfg.getUsr()">
              <div class="profile_pic">
                <img src="images/user.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{cfg.getUsr().getId()}}</h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

              <div class="menu_section">
                <h3>Devices</h3>
                <ul class="nav side-menu">

                  <li><a><i class="fa fa-bug"></i> Devices <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="javascript:void(0)" (click)="viewService.showUsers(!viewService.isUsers())">List</a></li>
                      <li><a href="javascript:void(0)" (click)="viewService.showAddUser(!viewService.isAddUser())">Add Device</a></li>
                      <li><a href="javascript:void(0)" (click)="viewService.showGroups(!viewService.isGroups())">Groups</a></li>
                    </ul>
                  </li> 

                  <li class="hidden"><a><i class="fa fa-windows"></i>Create Jobs<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="javascript:void(0)" (click)="viewService.showViewApks(!viewService.isViewApks())">View Apks</a></li>
                      <li><a href="javascript:void(0)"  (click)="viewService.showAddApk(!viewService.isAddApk())">Add Apk</a></li>
                    </ul>
                  </li> 

                  <li class="hidden"><a><i class="fa fa-windows"></i>Apply Jobs<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="javascript:void(0)" (click)="viewService.showInstallApk(!viewService.isInstallApk())">Install Apks</a></li>
                      <li><a href="javascript:void(0)" (click)="viewService.showUninstallPackage(!viewService.isUninstallPackage())">Uninstall App</a></li>
                      <li><a href="javascript:void(0)" (click)="viewService.showScript(!viewService.isScript())">Run Script</a></li>
                    </ul>
                  </li> 

                  <li><a><i class="fa fa-windows"></i>Composite Job<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="javascript:void(0)" (click)="viewService.showDeviceStates(!viewService.isDeviceStates())">Composite Job</a></li>
                    </ul>
                  </li> 

                  <li class="hidden"><a><i class="fa fa-windows"></i>Device Activities<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="javascript:void(0)" (click)="viewService.showScreenShare(!viewService.isScreenShare())">Remote Login</a></li>
                      <li><a href="javascript:void(0)" (click)="viewService.showFiles(!viewService.isFiles())">File Explorer</a></li>
                      <li><a href="javascript:void(0)" (click)="viewService.showDeviceMan(!viewService.isDeviceMan())">Manage</a></li>
                      <li><a href="javascript:void(0)" (click)="viewService.showInstalledPackages(!viewService.isInstalledPackages())">Installed Packages</a></li>
                    </ul>
                  </li> 

                  <li class="hidden"><a><i class="fa fa-windows"></i>Reports<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="javascript:void(0)" (click)="viewService.showReportDeviceList(!viewService.isReportDeviceList())">Devices</a></li>
                    </ul>
                  </li> 

                  <li class="hidden"><a><i class="fa fa-windows"></i>Track<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="javascript:void(0)" (click)="viewService.showLoc(!viewService.isLoc())">Locations</a></li>
                    </ul>
                  </li> 

                  <li><a><i class="fa fa-windows"></i>View<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="javascript:void(0)"(click)="viewService.setPreserveView(!viewService.isPreserveView())">Perverve View</a></li>
                      <li><a href="javascript:void(0)" (click)="viewService.showTopMenu(!viewService.isTopMenu())">Show Top Menubar</a></li>
                    </ul>
                  </li> 

                </ul>
              </div>

              <div class="menu_section hidden">
                <h3>Users</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-user"></i> Users <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="javascript:void(0)">Add User</a></li>
                      <li><a href="javascript:void(0)" (click)="viewService.showUsers(true)">View Users</a></li>
                      <li><a href="javascript:void(0)">Activate User</a></li>
                      <li><a href="javascript:void(0)">Deactivate User</a></li>
                      <li><a href="javascript:void(0)">Remove User</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i>Groups<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="javascript:void(0)">Add Group</a></li>
                      <li><a href="javascript:void(0)">View Groups</a></li>
                      <li><a href="javascript:void(0)">Activate Group</a></li>
                      <li><a href="javascript:void(0)">Deactivate Group</a></li>
                      <li><a href="javascript:void(0)">Remove Group</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->



            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen" (click)="toggleFullScreen()">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
