<!DOCTYPE html>
<html lang="en">
  <head>
	<base href="/v1/web/mdm">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>VComm MDM</title>

	<!-- Bootstrap -->
	<link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- PNotify -->
	<link href="vendors/pnotify/dist/pnotify.css" rel="stylesheet">
	<link href="vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
	<link href="vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="build/css/custom.css" rel="stylesheet">
	<link href="css.css" rel="stylesheet">

	<!-- angular js begin -->
	<!-- Polyfills for older browsers -->
	<script src="mdm/node_modules/core-js/client/shim.min.js"></script>

	<script src="mdm/node_modules/zone.js/dist/zone.js"></script>
	<script src="mdm/node_modules/systemjs/dist/system.src.js"></script>

	<script src="mdm/systemjs.config.js"></script>
	<script>
	System.import('mdm').catch(function(err){ console.error(err); });
	</script>
	<!-- angular js complete -->
	
	<script src="tp/js/socket.io-1.2.0.js"></script>
	<script src="tp/js/jquery-1.11.1.js"></script>
	<!-- this is a required library-->
	<!-- script src="tp/js/jszip-utils-0.0.2.js"></script -->
	<script src="tp/js/RecordRTC.js"></script> 
	<script src="tp/js/download.js"></script>

	<script src="tp/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="tp/lightbox_rotate/js/jqueryrotate.min.js"></script>
	<script src='tp/lightbox_rotate/js/lightbox_rotate_custom.js'></script>

	<script src='cmn/TabCtrl.js'></script>

	<script src='vcom/Socket.js'></script>
	<script src='vcom/Util.js'></script>
	<script src='vcom/Adapter.js'></script>
	<script src='vcom/Call.js'></script>
	<script src='vcom/PeerCon.js'></script>
	<script src='vcom/SdUtil.js'></script>

	<script src='js/Util.js'></script>
	<script src='js/VidCtrl.js'></script>
	<script src='js/mod/Usr.js'></script>
	<script src='js/mod/File.js'></script>
	<script src='js/mod/ScreenShare.js'></script>
	<script src='js/mod/Script.js'></script>
	<script src='js/mod/DeviceState.js'></script>
	<script src='js/mod/Loc.js'></script>
	<script src='js/Msg.js'></script>
	<script src='js/UsrState.js'></script>
	<script src='js/Main.js'></script> 

	<!--script src="vendors/jquery/dist/jquery.min.js"></script-->
	<!--script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script-->
	<script src="vendors/fastclick/lib/fastclick.js"></script>
	<script src="vendors/nprogress/nprogress.js"></script>

  </head>

  <body class="nav-md"> 
	<mdm-app>Loading...</mdm-app>

	<!-- PNotify -->
	<script src="vendors/pnotify/dist/pnotify.js"></script>
	<script src="vendors/pnotify/dist/pnotify.buttons.js"></script>
	<script src="vendors/pnotify/dist/pnotify.nonblock.js"></script>

	<script src="build/js/custom.js"></script>

	<script>
		var Cfg = 
		{
			getUrlApi: function()
			{
				return "<%= url_api %>";
			}
		};
	</script> 


  </body>
</html>
