
<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
	<a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right" *ngIf="cfg.getUsr()">
	<li class="">
	  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    <img src="images/user.png" alt="">{{cfg.getUsr().getId()}}
	    <span class=" fa fa-angle-down"></span>
	  </a>
	  <ul class="dropdown-menu dropdown-usermenu pull-right">
	    <li><a href="javascript:;"> Profile</a></li>
	    <li>
	      <a href="javascript:;">
		<span class="badge bg-red pull-right">50%</span>
		<span>Settings</span>
	      </a>
	    </li>
	    <li><a href="javascript:;">Help</a></li>
	    <li (click)="logOff()"><a href="javascript:;"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
	  </ul>
	</li>

	<li role="presentation" class="dropdown">
	  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
	    <i class="fa fa-envelope-o"></i>
	    <span class="badge bg-green">6</span>
	  </a>
	  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
	    <li>
	      <a>
		<span class="image"><img src="images/user.png" alt="Profile Image" /></span>
		<span>
		  <span>{{cfg.getUsr().getId()}}</span>
		  <span class="time">3 mins ago</span>
		</span>
		<span class="message">
		  Film festivals used to be do-or-die moments for movie makers. They were where...
		</span>
	      </a>
	    </li>
	    <li>
	      <a>
		<span class="image"><img src="images/user.png" alt="Profile Image" /></span>
		<span>
		  <span>{{cfg.getUsr().getId()}}</span>
		  <span class="time">3 mins ago</span>
		</span>
		<span class="message">
		  Film festivals used to be do-or-die moments for movie makers. They were where...
		</span>
	      </a>
	    </li>
	    <li>
	      <a>
		<span class="image"><img src="images/user.png" alt="Profile Image" /></span>
		<span>
		  <span>{{cfg.getUsr().getId()}}</span>
		  <span class="time">3 mins ago</span>
		</span>
		<span class="message">
		  Film festivals used to be do-or-die moments for movie makers. They were where...
		</span>
	      </a>
	    </li>
	    <li>
	      <a>
		<span class="image"><img src="images/user.png" alt="Profile Image" /></span>
		<span>
		  <span>{{cfg.getUsr().getId()}}</span>
		  <span class="time">3 mins ago</span>
		</span>
		<span class="message">
		  Film festivals used to be do-or-die moments for movie makers. They were where...
		</span>
	      </a>
	    </li>
	    <li>
	      <div class="text-center">
		<a>
		  <strong>See All Alerts</strong>
		  <i class="fa fa-angle-right"></i>
		</a>
	      </div>
	    </li>
	  </ul>
	</li>

	<li class="dropdown">
	</li>


	<li class="dropdown">
	  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
	    <h5><p><b>

	      <img 
		[src]="getUsrStatusImg()" 
		[width]="usrImgWidth"/>

              {{ getUsrInfo() }} 

            </b></p></h5>
	    <span class="badge bg-green">{{usrService.size()}} devices </span>
	  </a>
	</li>

      </ul>
    </nav>

  </div>
</div>
<!-- /top navigation -->
